<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="utf-8">
  </head>
  <body>
    <h1>Bienvenido a <%= title %></h1>
    <p>El portal donde podr&aacute; crear sus propios juegos.</p>
    <p>¡Le animo a participar!</p>
    <a href="quizes">Comienza a jugar</a>
  </body>
</html>
