<form  method="POST" action="/register">
<div class="field">
	<label for="login">Usuario:</label><br>
<input type="text" name="username" id="username">
</div>
<div class="field">
	<label for="password">Contraseña:</label><br>
<input type="password" name="password" id="password"><br>
<input type="password" name="password2" id="password2">
</div>
<div class="actions">
<input type="submit" name="Enviar" value="Enviar"><br>
<a href="/index"><button>Cancelar</button></a>
</div>
</form>