<div class="preguntas">
<table>
<tr><td>Usuarios</td></tr>
<% for(var i=0;i< users.length;i++){%>
<tr>
<td><%=users[i].username%></td></tr>
<%}%>
</table>
</div>
<a href='/quizes'><button>Volver a Preguntas</button></a>